body{
    background-color: #f1f1f1 !important;
    height: auto;
}

.container{
    margin-top: 150px;
}

nav a{
    margin-right: 20px;
}

i{
    color: #525252;
}

.navbarr div ul li a{
    padding: 10px auto;
    text-decoration: none;
    color: black;
}

.navbarr{
    background-color: #f1f1f1 !important;
    color: black !important;
    height: 70px !important;
}

.ling::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #525252;
    transition: width .5s;
}

.ling:hover::after{
    width: 100%;
    transition: width .5s;
}

.footer{
    background-color: #f1f1f1;
    padding-top: 15px;
}

.footer p a{
    color: black;
    text-decoration: none;
}

.wa h5{
    background-color: darkgreen;
    font-size: 20px;
    color: white;
    padding: 5px;
    border-radius: 20%;
}

.wa{
    position: fixed;
    bottom: 30px;
    right: 20%;
    width: auto;
}