body{
    background-color: #f1f1f1 !important;
    height: 1000px;
}

nav a{
    margin-right: 20px;
}

i{
    color: #525252;
    /* background-color: black; */
}

.navbarr div ul li a{
    padding: 10px auto;
    text-decoration: none;
    color: black;
}

.navbarr{
    background-color: #f1f1f1 !important;
    color: black !important;
    height: 70px !important;
}

.ling::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #525252;
    transition: width .5s;
}

.ling:hover::after{
    width: 100%;
    transition: width .5s;
}

.searchinput{
    width: 0;
}


.search:hover > .searchinput{
    width: 100%;
}



