body{
    background-color: #f1f1f1 !important;
    height: 1000px;
}

.container{
    margin-top: 150px;
}

nav a{
    margin-right: 20px;
}

i{
    color: #525252;
}

.navbarr div ul li a{
    padding: 10px auto;
    text-decoration: none;
    color: black;
}

.navbarr{
    background-color: #f1f1f1 !important;
    color: black !important;
    height: 70px !important;
}

.boks {
    height: 100px !important;
}

.card:hover{
    transform: scale(1.02);
}


.card-img-top {
    width: 50%;
    height: 20vw;
    object-fit: cover;
}

.ling::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #525252;
    transition: width .5s;
}

.ling:hover::after{
    width: 100%;
    transition: width .5s;
}

.kartu{
    margin-top: 50px;
}


.search:hover > .searchengine{
    width: 100%;
}

.kartu h5{
    text-decoration: none;
    color: white;
}

.card h5:hover{
    text-decoration: none;
    color: rgb(209, 209, 209);
    transition: .1s;
}

.why{
    min-height: 400px;
    margin-top: 400px;
    background-color: #ddd;
    color: black;
    padding-top: 50px;
}

.why li{
    display: inline-block;
    margin: 50px;
}

.why li div{
    width: 200px;
    height: inherit;
    overflow: hidden;
}

.why li p{
    font-size: 15px;
    margin-top: 20px;
}

.why li div img{
    line-height: 100px;
}

.whyy{
    margin: 0 20px;
}

.footer{
    background-color: #f1f1f1;
    padding-top: 15px;
}

.footer p a{
    color: black;
    text-decoration: none;
}

